body {
	width: 100%;
}

h1 {
	width: 90%;
	margin: auto;
}

#conteneur {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
	border: 1px solid black;
}

.singleTache:nth-child(2n+1) {
	background-color: lightgrey;
}

.singleTache {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}

button {
	margin-left: 5%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.done{
	text-decoration: line-trought;
}